version: '3'
services:
  browserless:
    image: browserless/chrome:latest
    ports:
      - '3000:3000'
    environment:
      - MAX_CONCURRENT_SESSIONS=10

  hehuan-robot:
    image: mdyu1000/hehuan-robot:lastest
    environment:
      - NODE_ENV=production
      - HEHUAN_ACCOUNT=yourAccount
      - HEHUAN_PASSWORD=yourPassword
      # NOTE: HEHUAN_ROOM_TYPE: LargeTwinSuite | ScenicDoubleSuite | SkiHostel | ClassicDoubleSuite
      - HEHUAN_ROOM_TYPE=SkiHostel
      - QUANTITY=1
      - DATE=YYYY-MM-DD
    depends_on:
      - browserless
